<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGEX</title>
    <style>
        body {
                text-align: center;
                background-color: saddlebrown;
                text-emphasis-color: white;
                color: white;
        }

        .but{
            background-color: darkgreen;
            color: whitesmoke;
        }

    </style>
</head>

<body>
    <h1> REGEX CLONE</h1><br>
    <form action="{{url_for('home')}}" method="post">
    enter text :<textarea  name="inp_str" rows="10" cols="100">{{ input  }}</textarea><br><br>
    pattern :<input type="text" name="pattern" value="{{ regex }}" autocomplete="off"><br><br>
    <input class='but' type="submit" name="Matches"><br><br>
    matches :<textarea type="text" name='output' rows="10" cols="50">{{ matches }}</textarea>
    </form>
</body>
</html>