<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note_Taking_App</title>
    <style>
        body{
            padding: 50px 50px ;
            text-align: left;
            background-color: saddlebrown;
            text-emphasis-color: white;
            color: white;
        }
        .but{
            background-color: darkgreen;
            color: whitesmoke;
        }
    </style>
</head>
<body>
    <form action="{{ url_for('index')}}" method="post">
        <input type="text" name="note" placeholder="Enter a note" autocomplete="off" size="50"><br><br>
        <button class="but">Add Note</button>
    </form>
    <h3>Notes</h3>
    <ul>
    {% for note in notes%}
        <li>{{ note }}</li>
    {% endfor %}
    </ul> 
</body>
</html>